* {
  box-sizing: border-box;
}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    .logo {
      height: 150px;
      width: 75px;
      padding-bottom: 120px;
    }

    .footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  background-color: black;
  color: white;
  border: 5px groove grey;
    }

.wrap {
  height: 100%;
  position: absolute;
  background-image: url('../images/background.jpg');
  color: #6699f6;
  font-family: 'Arsenal', cursive;
  overflow: hidden;
  padding: 5vw;
}

h1 {
  color: white;
  text-align: center;

}

#infobox1 {
  color: gold !important;
  margin: 5px;
  display: inline-block;

}

#infobox2 {
  color: gold !important;
  margin: 5px;
  display: inline-block;

}

#infobox3 {
  color: gold !important;
  margin: 5px;
  display: inline-block;
}

.navbar-form {
  padding: 10px 325px !important;
}
