* {
  box-sizing: border-box;
}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: white !important;
      border: none;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: white;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: white;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    .logo {
      height: 50px;
      width: 100px;
    }

    .footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white !important;
  text-align: center;
  background-color: black;
  color: white;
    }

.wrap {
  height: 500%;
  position: absolute;
  width: 100%;
  background-size: cover;
  color: black;
  font-family: 'Varela Round', sans-serif;
  padding: 5vw;
  background-color: #99CCFF;
}

h1 {
  color: black;
  text-align: center;

}

.date-picker {
  display: inline-block;
  left: 50%;
}

#reportrange {
  display: inline-block;
}

#canvas {
  background-color: transparent;
}

#canvas2 {
}

.link:hover{
  cursor: pointer;
}

.well {
  background-color: #0b0d0e;
  font-family: 'Varela Round', sans-serif;
  color: white;
  border: solid 2px goldenrod;
  opacity: 0.8;
}

h5 {
  font-size: 22px !important;
}

canvas {
  background-color: silver !important;
  opacity: 0.8% !important;
  border: 2px solid goldenrod !important;
  color: black !important;
}

.modal {
    visibility: hidden;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: inline-block;
    border: solid 5px black;
}

/* Modal Content/Box */
.modal-align {
display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    margin: auto;
}

.modal-content {
  background-color: white;
  margin: 15%; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modalinfo1 {
  font-family: 'Varela Round', sans-serif;
  width: 31%;
  background-color: #99CCFF;
  padding: 1px;
  color: grey;
  margin: 5px;
  padding: 5px;
}

.modalinfo2 {
  font-family: 'Varela Round', sans-serif, bold;
  width: 31%;
  height: 100%;
  background-color: #99CCFF;
  padding: 1px;
  color: grey;
  margin: 5px;
  padding: 5px;
}

.modalinfo3 {
  font-family: 'Varela Round', sans-serif;
  display: inline-block;
  width: 31%;
  background-color: #99CCFF;
  padding: 1px;
  color: grey;
  margin: 5px;
  padding: 5px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*end gradient*/

.navbar-header {
  padding: 5px;
}

.navbar.navbar-inverse {
}
.jumbotron {
  background-color: #99CCFF;
  background-size: 100%;
  position: relative;
  font-family: 'Varela Round', sans-serif !important;
}

#infobox1 {
  color: gold !important;
  margin: 5px;
  display: inline-block;

}

#infobox2 {
  color: gold !important;
  margin: 5px;
  display: inline-block;

}

#infobox3 {
  color: gold !important;
  margin: 5px;
  display: inline-block;
}

.navbar-form {
  padding: 10px 325px !important;
 /* z-index: 1 !important;*/
 display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.desc {
  background-color: #c4b8ac;
  color: black;
  opacity: 0.9;
}

#myBtn {
  color: black;
}

#myBtn:hover {
  cursor: pointer;
}

.copyright {
  display: inline-block;
}

html, body {
height: 100%;

}

.span3:hover {
  cursor: pointer;
}